# Kaggle Machine Learning Project
## Project: Titanic - Machine Learning from Disaster 

The problem to be solved is to predict the passengers that survive the Titanic. The goal is to use passenger characteristics and location to determine if a passenger is likely to die or survive. Based off the Kaggle prompt and the expected typed of output, this problem is a supervised classification problem. A potential way to solve this problem is to use a neural network classifier. For the sake of exploration, I hope to use other machine learning techniques like random forests and support vector machines to classify the passengers aboard the Titanic. The benchmark model will be a simple linear regression. The score to determine usefulness of the solution is the accuracy, the percentage of passengers correctly predicted.

>**Note:** Code and Markdown cells can be executed using the **Shift + Enter** keyboard shortcut. In addition, Markdown cells can be edited by typically double-clicking the cell to enter edit mode.

In [5]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
# Pretty display for notebooks
%matplotlib inline

#Import Train Data
#Grab train_x data excluding Survivors
train_df = pd.read_csv('Data/train.csv')
train_df = train_df.drop('Cabin', axis =1)
train_df = train_df.drop('Name', axis = 1)
train_df = train_df.dropna()
train_x = train_df.drop('Survived', axis = 1)

#Grab train_y only with Survivors
features = list(train_df)
print features
train_y = train_df.drop(features, axis = 1)


#Import Test Data
test_df = pd.read_csv('Data/test.csv')
test_df = test_df.drop('Cabin', axis = 1)
test_df = test_df.drop('Name', axis =1)
test_df = test_df.dropna()

# Success Check
print "Titanic Disaster training dataset has {} rows of data with {} variables each.".format(*train_df.shape)
print "Titanic Disaster testing dataset has {} rows of data with {} variables each.".format(*test_df.shape)

['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Embarked']
Titanic Disaster training dataset has 712 rows of data with 10 variables each.
Titanic Disaster testing dataset has 331 rows of data with 9 variables each.

## Data Exploration

The data can be described as

1. survival = Survival
1. pclass = Ticket class
1. sex = Sex	
1. Age = Age in years	
1. sibsp =	# of siblings / spouses aboard the Titanic	
1. parch =	# of parents / children aboard the Titanic	
1. ticket =	Ticket number	
1. fare = Passenger fare	
1. cabin =	Cabin number	
1. embarked =	Port of Embarkation

I used Pandas describe() function to explore the numbers data. However, this function does not take into consideration the data that involves strings such as: 'Name', 'Sex', 'Ticket', 'Cabin', and 'Embarked'. 'Sex' looks like a good candidate to change 'Male' and "Female' to binary values using one hot encoding. PassengerId doesn't mean much based on these statistics as its just a unique identifier for each individual. Pclass seems to show that most people were of Pclass 2 or 3. Age shows that most people were approximately 30 years old. The minimum and maximum also suggests that there are elderly and children on board. The count of the age being lower than other features indicates that there is missing data that has to be dealt with. Sibsp and Parch show that the majority of passengers came alone or possibly with friends depending on what the data represents. Fare seems to indicate that there were 3 ticket classes as the 25-75% quartiles seem fairly different. It is interesting to note that the mean seems to be in the 75% quartile of data possibly due to a few very large fares indicated by the max being $512. Cabin is most likely going to be removed as a feature because there is too much missing data and it would be hard to make conclusions when most people's information is unknown. It seems logical to remove Name as they are all unique identifiers represented by the PassengerID.

In [2]:
#Grab list of keypoint names
#print features
print train_df.isnull().sum()
train_df.describe()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,448.589888,0.404494,2.240169,29.642093,0.514045,0.432584,34.567251
std,258.683191,0.491139,0.836854,14.492933,0.930692,0.854181,52.938648
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.750000,0.000000,1.000000,20.000000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.645850
75%,677.250000,1.000000,3.000000,38.000000,1.000000,1.000000,33.000000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

## Exploratory Visualization

## Preprocessed Data

In [3]:
#Show dimensions
print train_x.shape
print train_y.shape

#Change female and male to integer values where male = 0 and female = 1
train_x['Sex'] = train_x['Sex'].map({'female':1, 'male': 0})
train_x['Embarked'] = train_x['Embarked'].map({'S':0, 'C':1, 'Q':2})
print train_x

(712, 9)
(712, 0)
     PassengerId  Pclass  Sex   Age  SibSp  Parch            Ticket      Fare  \
0              1       3    0  22.0      1      0         A/5 21171    7.2500
1              2       1    1  38.0      1      0          PC 17599   71.2833
2              3       3    1  26.0      0      0  STON/O2. 3101282    7.9250
3              4       1    1  35.0      1      0            113803   53.1000
4              5       3    0  35.0      0      0            373450    8.0500
6              7       1    0  54.0      0      0             17463   51.8625
7              8       3    0   2.0      3      1            349909   21.0750
8              9       3    1  27.0      0      2            347742   11.1333
9             10       2    1  14.0      1      0            237736   30.0708
10            11       3    1   4.0      1      1           PP 9549   16.7000
11            12       1    1  58.0      0      0            113783   26.5500
12            13       3    0  20.0      0      0         A/5. 2151    8.0500
13            14       3    0  39.0      1      5            347082   31.2750
14            15       3    1  14.0      0      0            350406    7.8542
15            16       2    1  55.0      0      0            248706   16.0000
16            17       3    0   2.0      4      1            382652   29.1250
18            19       3    1  31.0      1      0            345763   18.0000
20            21       2    0  35.0      0      0            239865   26.0000
21            22       2    0  34.0      0      0            248698   13.0000
22            23       3    1  15.0      0      0            330923    8.0292
23            24       1    0  28.0      0      0            113788   35.5000
24            25       3    1   8.0      3      1            349909   21.0750
25            26       3    1  38.0      1      5            347077   31.3875
27            28       1    0  19.0      3      2             19950  263.0000
30            31       1    0  40.0      0      0          PC 17601   27.7208
33            34       2    0  66.0      0      0        C.A. 24579   10.5000
34            35       1    0  28.0      1      0          PC 17604   82.1708
35            36       1    0  42.0      1      0            113789   52.0000
37            38       3    0  21.0      0      0        A./5. 2152    8.0500
38            39       3    1  18.0      2      0            345764   18.0000
..           ...     ...  ...   ...    ...    ...               ...       ...
856          857       1    1  45.0      1      1             36928  164.8667
857          858       1    0  51.0      0      0            113055   26.5500
858          859       3    1  24.0      0      3              2666   19.2583
860          861       3    0  41.0      2      0            350026   14.1083
861          862       2    0  21.0      1      0             28134   11.5000
862          863       1    1  48.0      0      0             17466   25.9292
864          865       2    0  24.0      0      0            233866   13.0000
865          866       2    1  42.0      0      0            236852   13.0000
866          867       2    1  27.0      1      0     SC/PARIS 2149   13.8583
867          868       1    0  31.0      0      0          PC 17590   50.4958
869          870       3    0   4.0      1      1            347742   11.1333
870          871       3    0  26.0      0      0            349248    7.8958
871          872       1    1  47.0      1      1             11751   52.5542
872          873       1    0  33.0      0      0               695    5.0000
873          874       3    0  47.0      0      0            345765    9.0000
874          875       2    1  28.0      1      0         P/PP 3381   24.0000
875          876       3    1  15.0      0      0              2667    7.2250
876          877       3    0  20.0      0      0              7534    9.8458
877          878       3    0  19.0      0      0            349212    7.8958
879          880       1    1  56.0      0      1             11767   83.1583
880          881       2    1  25.0      0      1            230433   26.0000
881          882       3    0  33.0      0      0            349257    7.8958
882          883       3    1  22.0      0      0              7552   10.5167
883          884       2    0  28.0      0      0  C.A./SOTON 34068   10.5000
884          885       3    0  25.0      0      0   SOTON/OQ 392076    7.0500
885          886       3    1  39.0      0      5            382652   29.1250
886          887       2    0  27.0      0      0            211536   13.0000
887          888       1    1  19.0      0      0            112053   30.0000
889          890       1    0  26.0      0      0            111369   30.0000
890          891       3    0  32.0      0      0            370376    7.7500

     Embarked
0           0
1           1
2           0
3           0
4           0
6           0
7           0
8           0
9           1
10          0
11          0
12          0
13          0
14          0
15          0
16          2
18          0
20          0
21          0
22          2
23          0
24          0
25          0
27          0
30          1
33          0
34          1
35          0
37          0
38          0
..        ...
856         0
857         0
858         1
860         0
861         0
862         0
864         0
865         0
866         1
867         0
869         0
870         0
871         0
872         0
873         0
874         1
875         1
876         0
877         0
879         1
880         0
881         0
882         0
883         0
884         0
885         2
886         0
887         0
889         1
890         2

[712 rows x 9 columns]

## Benchmark Model

In [4]:
regr = LinearRegression()
regr.fit(train_x,train_y)
#error_vals = mean_squared_error(y_test, regr.predict(X_test))**0.5
#print "The benchmark root mean squared error is %s" % error_vals

ValueError: could not convert string to float: SOTON/OQ 392076