# Kaggle Machine Learning Project
## Project: Titanic - Machine Learning from Disaster 

The problem to be solved is to predict the passengers that survive the Titanic. The goal is to use passenger characteristics and location to determine if a passenger is likely to die or survive. Based off the Kaggle prompt and the expected typed of output, this problem is a supervised classification problem. A potential way to solve this problem is to use a neural network classifier. For the sake of exploration, I hope to use other machine learning techniques like random forests and support vector machines to classify the passengers aboard the Titanic. The benchmark model will be a simple linear regression. The score to determine usefulness of the solution is the accuracy, the percentage of passengers correctly predicted.

>**Note:** Code and Markdown cells can be executed using the **Shift + Enter** keyboard shortcut. In addition, Markdown cells can be edited by typically double-clicking the cell to enter edit mode.

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd

# Pretty display for notebooks
%matplotlib inline

#Import Train Data
train_df = pd.read_csv('Data/train.csv')

#Import Test Data
test_df = pd.read_csv('Data/test.csv')

# Success Check
print "Titanic Disaster training dataset has {} rows of data with {} variables each.".format(*train_df.shape)
print "Titanic Disaster testing dataset has {} rows of data with {} variables each.".format(*test_df.shape)

Titanic Disaster training dataset has 891 rows of data with 12 variables each.
Titanic Disaster testing dataset has 418 rows of data with 11 variables each.

In [2]:
#Grab train_x data excluding Survivers
train_x = train_df.drop('Survived', axis = 1)

#Grab 
features = list(train_x)
train_y = train_df.drop(features, axis = 1)

print train_x
print train_y

     PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
5              6       3                                   Moran, Mr. James
6              7       1                            McCarthy, Mr. Timothy J
7              8       3                     Palsson, Master. Gosta Leonard
8              9       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9             10       2                Nasser, Mrs. Nicholas (Adele Achem)
10            11       3                    Sandstrom, Miss. Marguerite Rut
11            12       1                           Bonnell, Miss. Elizabeth
12            13       3                     Saundercock, Mr. William Henry
13            14       3                        Andersson, Mr. Anders Johan
14            15       3               Vestrom, Miss. Hulda Amanda Adolfina
15            16       2                   Hewlett, Mrs. (Mary D Kingcome)
16            17       3                               Rice, Master. Eugene
17            18       2                       Williams, Mr. Charles Eugene
18            19       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
19            20       3                            Masselmani, Mrs. Fatima
20            21       2                               Fynney, Mr. Joseph J
21            22       2                              Beesley, Mr. Lawrence
22            23       3                        McGowan, Miss. Anna "Annie"
23            24       1                       Sloper, Mr. William Thompson
24            25       3                      Palsson, Miss. Torborg Danira
25            26       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26            27       3                            Emir, Mr. Farred Chehab
27            28       1                     Fortune, Mr. Charles Alexander
28            29       3                      O'Dwyer, Miss. Ellen "Nellie"
29            30       3                                Todoroff, Mr. Lalio
..           ...     ...                                                ...
861          862       2                        Giles, Mr. Frederick Edward
862          863       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
863          864       3                  Sage, Miss. Dorothy Edith "Dolly"
864          865       2                             Gill, Mr. John William
865          866       2                           Bystrom, Mrs. (Karolina)
866          867       2                       Duran y More, Miss. Asuncion
867          868       1               Roebling, Mr. Washington Augustus II
868          869       3                        van Melkebeke, Mr. Philemon
869          870       3                    Johnson, Master. Harold Theodor
870          871       3                                  Balkic, Mr. Cerin
871          872       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872          873       1                           Carlsson, Mr. Frans Olof
873          874       3                        Vander Cruyssen, Mr. Victor
874          875       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875          876       3                   Najib, Miss. Adele Kiamie "Jane"
876          877       3                      Gustafsson, Mr. Alfred Ossian
877          878       3                               Petroff, Mr. Nedelio
878          879       3                                 Laleff, Mr. Kristo
879          880       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880          881       2       Shelley, Mrs. William (Imanita Parrish Hall)
881          882       3                                 Markun, Mr. Johann
882          883       3                       Dahlberg, Miss. Gerda Ulrika
883          884       2                      Banfield, Mr. Frederick James
884          885       3                             Sutehall, Mr. Henry Jr
885          886       3               Rice, Mrs. William (Margaret Norton)
886          887       2                              Montvila, Rev. Juozas
887          888       1                       Graham, Miss. Margaret Edith
888          889       3           Johnston, Miss. Catherine Helen "Carrie"
889          890       1                              Behr, Mr. Karl Howell
890          891       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket      Fare        Cabin  \
0      male  22.0      1      0         A/5 21171    7.2500          NaN
1    female  38.0      1      0          PC 17599   71.2833          C85
2    female  26.0      0      0  STON/O2. 3101282    7.9250          NaN
3    female  35.0      1      0            113803   53.1000         C123
4      male  35.0      0      0            373450    8.0500          NaN
5      male   NaN      0      0            330877    8.4583          NaN
6      male  54.0      0      0             17463   51.8625          E46
7      male   2.0      3      1            349909   21.0750          NaN
8    female  27.0      0      2            347742   11.1333          NaN
9    female  14.0      1      0            237736   30.0708          NaN
10   female   4.0      1      1           PP 9549   16.7000           G6
11   female  58.0      0      0            113783   26.5500         C103
12     male  20.0      0      0         A/5. 2151    8.0500          NaN
13     male  39.0      1      5            347082   31.2750          NaN
14   female  14.0      0      0            350406    7.8542          NaN
15   female  55.0      0      0            248706   16.0000          NaN
16     male   2.0      4      1            382652   29.1250          NaN
17     male   NaN      0      0            244373   13.0000          NaN
18   female  31.0      1      0            345763   18.0000          NaN
19   female   NaN      0      0              2649    7.2250          NaN
20     male  35.0      0      0            239865   26.0000          NaN
21     male  34.0      0      0            248698   13.0000          D56
22   female  15.0      0      0            330923    8.0292          NaN
23     male  28.0      0      0            113788   35.5000           A6
24   female   8.0      3      1            349909   21.0750          NaN
25   female  38.0      1      5            347077   31.3875          NaN
26     male   NaN      0      0              2631    7.2250          NaN
27     male  19.0      3      2             19950  263.0000  C23 C25 C27
28   female   NaN      0      0            330959    7.8792          NaN
29     male   NaN      0      0            349216    7.8958          NaN
..      ...   ...    ...    ...               ...       ...          ...
861    male  21.0      1      0             28134   11.5000          NaN
862  female  48.0      0      0             17466   25.9292          D17
863  female   NaN      8      2          CA. 2343   69.5500          NaN
864    male  24.0      0      0            233866   13.0000          NaN
865  female  42.0      0      0            236852   13.0000          NaN
866  female  27.0      1      0     SC/PARIS 2149   13.8583          NaN
867    male  31.0      0      0          PC 17590   50.4958          A24
868    male   NaN      0      0            345777    9.5000          NaN
869    male   4.0      1      1            347742   11.1333          NaN
870    male  26.0      0      0            349248    7.8958          NaN
871  female  47.0      1      1             11751   52.5542          D35
872    male  33.0      0      0               695    5.0000  B51 B53 B55
873    male  47.0      0      0            345765    9.0000          NaN
874  female  28.0      1      0         P/PP 3381   24.0000          NaN
875  female  15.0      0      0              2667    7.2250          NaN
876    male  20.0      0      0              7534    9.8458          NaN
877    male  19.0      0      0            349212    7.8958          NaN
878    male   NaN      0      0            349217    7.8958          NaN
879  female  56.0      0      1             11767   83.1583          C50
880  female  25.0      0      1            230433   26.0000          NaN
881    male  33.0      0      0            349257    7.8958          NaN
882  female  22.0      0      0              7552   10.5167          NaN
883    male  28.0      0      0  C.A./SOTON 34068   10.5000          NaN
884    male  25.0      0      0   SOTON/OQ 392076    7.0500          NaN
885  female  39.0      0      5            382652   29.1250          NaN
886    male  27.0      0      0            211536   13.0000          NaN
887  female  19.0      0      0            112053   30.0000          B42
888  female   NaN      1      2        W./C. 6607   23.4500          NaN
889    male  26.0      0      0            111369   30.0000         C148
890    male  32.0      0      0            370376    7.7500          NaN

    Embarked
0          S
1          C
2          S
3          S
4          S
5          Q
6          S
7          S
8          S
9          C
10         S
11         S
12         S
13         S
14         S
15         S
16         Q
17         S
18         S
19         C
20         S
21         S
22         Q
23         S
24         S
25         S
26         C
27         S
28         Q
29         S
..       ...
861        S
862        S
863        S
864        S
865        S
866        C
867        S
868        S
869        S
870        S
871        S
872        S
873        S
874        C
875        C
876        S
877        S
878        S
879        C
880        S
881        S
882        S
883        S
884        S
885        Q
886        S
887        S
888        S
889        C
890        Q

[891 rows x 11 columns]
     Survived
0           0
1           1
2           1
3           1
4           0
5           0
6           0
7           0
8           1
9           1
10          1
11          1
12          0
13          0
14          0
15          1
16          0
17          1
18          0
19          1
20          0
21          1
22          1
23          1
24          0
25          1
26          0
27          0
28          1
29          0
..        ...
861         0
862         1
863         0
864         0
865         1
866         1
867         0
868         0
869         1
870         0
871         1
872         0
873         0
874         1
875         1
876         0
877         0
878         0
879         1
880         1
881         0
882         0
883         0
884         0
885         0
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

## Data Exploration

The data can be described as

1. survival = Survival
1. pclass = Ticket class
1. sex = Sex	
1. Age = Age in years	
1. sibsp =	# of siblings / spouses aboard the Titanic	
1. parch =	# of parents / children aboard the Titanic	
1. ticket =	Ticket number	
1. fare = Passenger fare	
1. cabin =	Cabin number	
1. embarked =	Port of Embarkation

I used Pandas describe() function to explore the numbers data. However, this function does not take into consideration the data that involves strings such as: 'Name', 'Sex', 'Ticket', 'Cabin', and 'Embarked'. 'Sex' looks like a good candidate to change 'Male' and "Female' to binary values. PassengerId doesn't mean much based on these statistics as its just a unique identifier for each individual. Pclass seems to show that most people were of Pclass 2 or 3. Age shows that most people were approximately 30 years old. The minimum and maximum also suggests that there are elderly and children on board. The count of the age being lower than other features indicates that there is missing data that has to be dealt with. Sibsp and Parch show that the majority of passengers came alone or possibly with friends depending on what the data represents. Fare seems to indicate that there were 3 ticket classes as the 25-75% quartiles seem fairly different. It is interesting to note that the mean seems to be in the 75% quartile of data possibly due to a few very large fares indicated by the max being $512. Cabin is most likely going to be removed as a feature because there is too much missing data and it would be hard to make conclusions when most people's information is unknown.

In [3]:
#Grab list of keypoint names
print features
print train_x.isnull().sum()
train_x.describe()

['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
PassengerId      0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## Preprocessed Data

In [1]:
#Show dimensions
print train_x['Age'].shape
#Remove Cabin
#train_x = train_x.drop('Cabin', axis = 1)
train_x = train_x.dropna()
print train_x

NameError: name 'train_x' is not defined

## Benchmark Model