# Kaggle Machine Learning Project
## Project: Titanic - Machine Learning from Disaster 

The problem to be solved is to predict the passengers that survive the Titanic. The goal is to use passenger characteristics and location to determine if a passenger is likely to die or survive. Based off the Kaggle prompt and the expected typed of output, this problem is a supervised classification problem. A potential way to solve this problem is to use a neural network classifier. For the sake of exploration, I hope to use other machine learning techniques like random forests and support vector machines to classify the passengers aboard the Titanic. The benchmark model will be a simple linear regression. The score to determine usefulness of the solution is the accuracy, the percentage of passengers correctly predicted.

>**Note:** Code and Markdown cells can be executed using the **Shift + Enter** keyboard shortcut. In addition, Markdown cells can be edited by typically double-clicking the cell to enter edit mode.

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

# Pretty display for notebooks
%matplotlib inline

#Import Train Data
train_df = pd.read_csv('Data/train.csv')

#Import Test Data
test_df = pd.read_csv('Data/test.csv')


# Success Check
print "Titanic Disaster training dataset has {} rows of data with {} variables each.".format(*train_df.shape)
print "Titanic Disaster testing dataset has {} rows of data with {} variables each.".format(*test_df.shape)

Titanic Disaster training dataset has 891 rows of data with 12 variables each.
Titanic Disaster testing dataset has 418 rows of data with 11 variables each.

## Data Exploration

The data can be described as

1. survival = Survival
1. pclass = Ticket class
1. sex = Sex	
1. Age = Age in years	
1. sibsp =	# of siblings / spouses aboard the Titanic	
1. parch =	# of parents / children aboard the Titanic	
1. ticket =	Ticket number	
1. fare = Passenger fare	
1. cabin =	Cabin number	
1. embarked =	Port of Embarkation

I used Pandas describe() function to explore the numbers data. However, this function does not take into consideration the data that involves strings such as: 'Name', 'Sex', 'Ticket', 'Cabin', and 'Embarked'. 'Sex' looks like a good candidate to change 'Male' and "Female' to binary values. PassengerId doesn't mean much based on these statistics as its just a unique identifier for each individual. Pclass seems to show that most people were of Pclass 2 or 3. Age shows that most people were approximately 30 years old. The minimum and maximum also suggests that there are elderly and children on board. The count of the age being lower than other features indicates that there is missing data that has to be dealt with. Sibsp and Parch show that the majority of passengers came alone or possibly with friends depending on what the data represents. Fare seems to indicate that there were 3 ticket classes as the 25-75% quartiles seem fairly different. It is interesting to note that the mean seems to be in the 75% quartile of data possibly due to a few very large fares indicated by the max being $512. Cabin is most likely going to be removed as a feature because there is too much missing data and it would be hard to make conclusions when most people's information is unknown.

In [3]:
#Grab list of keypoint names
#print features
print train_df.isnull().sum()
train_df.describe()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

## Preprocessed Data

In [12]:
#train_df = train_df.drop('Cabin', axis =1)
train_df = train_df.dropna()

#Grab train_x data excluding Survivors
train_x = train_df.drop('Survived', axis = 1)

#Grab train_y only with Survivors
train_y = train_df.drop(features, axis = 1)
features = list(train_x)

#Show dimensions
print train_x.shape
print train_y.shape

print train_x

(712, 10)
(712, 1)
     PassengerId  Pclass                                               Name  \
0              1       3                            Braund, Mr. Owen Harris
1              2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3       3                             Heikkinen, Miss. Laina
3              4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5       3                           Allen, Mr. William Henry
6              7       1                            McCarthy, Mr. Timothy J
7              8       3                     Palsson, Master. Gosta Leonard
8              9       3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9             10       2                Nasser, Mrs. Nicholas (Adele Achem)
10            11       3                    Sandstrom, Miss. Marguerite Rut
11            12       1                           Bonnell, Miss. Elizabeth
12            13       3                     Saundercock, Mr. William Henry
13            14       3                        Andersson, Mr. Anders Johan
14            15       3               Vestrom, Miss. Hulda Amanda Adolfina
15            16       2                   Hewlett, Mrs. (Mary D Kingcome)
16            17       3                               Rice, Master. Eugene
18            19       3  Vander Planke, Mrs. Julius (Emelia Maria Vande...
20            21       2                               Fynney, Mr. Joseph J
21            22       2                              Beesley, Mr. Lawrence
22            23       3                        McGowan, Miss. Anna "Annie"
23            24       1                       Sloper, Mr. William Thompson
24            25       3                      Palsson, Miss. Torborg Danira
25            26       3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
27            28       1                     Fortune, Mr. Charles Alexander
30            31       1                           Uruchurtu, Don. Manuel E
33            34       2                              Wheadon, Mr. Edward H
34            35       1                            Meyer, Mr. Edgar Joseph
35            36       1                     Holverson, Mr. Alexander Oskar
37            38       3                           Cann, Mr. Ernest Charles
38            39       3                 Vander Planke, Miss. Augusta Maria
..           ...     ...                                                ...
856          857       1         Wick, Mrs. George Dennick (Mary Hitchcock)
857          858       1                             Daly, Mr. Peter Denis
858          859       3              Baclini, Mrs. Solomon (Latifa Qurban)
860          861       3                            Hansen, Mr. Claus Peter
861          862       2                        Giles, Mr. Frederick Edward
862          863       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...
864          865       2                             Gill, Mr. John William
865          866       2                           Bystrom, Mrs. (Karolina)
866          867       2                       Duran y More, Miss. Asuncion
867          868       1               Roebling, Mr. Washington Augustus II
869          870       3                    Johnson, Master. Harold Theodor
870          871       3                                  Balkic, Mr. Cerin
871          872       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
872          873       1                           Carlsson, Mr. Frans Olof
873          874       3                        Vander Cruyssen, Mr. Victor
874          875       2              Abelson, Mrs. Samuel (Hannah Wizosky)
875          876       3                   Najib, Miss. Adele Kiamie "Jane"
876          877       3                      Gustafsson, Mr. Alfred Ossian
877          878       3                               Petroff, Mr. Nedelio
879          880       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
880          881       2       Shelley, Mrs. William (Imanita Parrish Hall)
881          882       3                                 Markun, Mr. Johann
882          883       3                       Dahlberg, Miss. Gerda Ulrika
883          884       2                      Banfield, Mr. Frederick James
884          885       3                             Sutehall, Mr. Henry Jr
885          886       3               Rice, Mrs. William (Margaret Norton)
886          887       2                              Montvila, Rev. Juozas
887          888       1                       Graham, Miss. Margaret Edith
889          890       1                              Behr, Mr. Karl Howell
890          891       3                                Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket      Fare Embarked
0      male  22.0      1      0         A/5 21171    7.2500        S
1    female  38.0      1      0          PC 17599   71.2833        C
2    female  26.0      0      0  STON/O2. 3101282    7.9250        S
3    female  35.0      1      0            113803   53.1000        S
4      male  35.0      0      0            373450    8.0500        S
6      male  54.0      0      0             17463   51.8625        S
7      male   2.0      3      1            349909   21.0750        S
8    female  27.0      0      2            347742   11.1333        S
9    female  14.0      1      0            237736   30.0708        C
10   female   4.0      1      1           PP 9549   16.7000        S
11   female  58.0      0      0            113783   26.5500        S
12     male  20.0      0      0         A/5. 2151    8.0500        S
13     male  39.0      1      5            347082   31.2750        S
14   female  14.0      0      0            350406    7.8542        S
15   female  55.0      0      0            248706   16.0000        S
16     male   2.0      4      1            382652   29.1250        Q
18   female  31.0      1      0            345763   18.0000        S
20     male  35.0      0      0            239865   26.0000        S
21     male  34.0      0      0            248698   13.0000        S
22   female  15.0      0      0            330923    8.0292        Q
23     male  28.0      0      0            113788   35.5000        S
24   female   8.0      3      1            349909   21.0750        S
25   female  38.0      1      5            347077   31.3875        S
27     male  19.0      3      2             19950  263.0000        S
30     male  40.0      0      0          PC 17601   27.7208        C
33     male  66.0      0      0        C.A. 24579   10.5000        S
34     male  28.0      1      0          PC 17604   82.1708        C
35     male  42.0      1      0            113789   52.0000        S
37     male  21.0      0      0        A./5. 2152    8.0500        S
38   female  18.0      2      0            345764   18.0000        S
..      ...   ...    ...    ...               ...       ...      ...
856  female  45.0      1      1             36928  164.8667        S
857    male  51.0      0      0            113055   26.5500        S
858  female  24.0      0      3              2666   19.2583        C
860    male  41.0      2      0            350026   14.1083        S
861    male  21.0      1      0             28134   11.5000        S
862  female  48.0      0      0             17466   25.9292        S
864    male  24.0      0      0            233866   13.0000        S
865  female  42.0      0      0            236852   13.0000        S
866  female  27.0      1      0     SC/PARIS 2149   13.8583        C
867    male  31.0      0      0          PC 17590   50.4958        S
869    male   4.0      1      1            347742   11.1333        S
870    male  26.0      0      0            349248    7.8958        S
871  female  47.0      1      1             11751   52.5542        S
872    male  33.0      0      0               695    5.0000        S
873    male  47.0      0      0            345765    9.0000        S
874  female  28.0      1      0         P/PP 3381   24.0000        C
875  female  15.0      0      0              2667    7.2250        C
876    male  20.0      0      0              7534    9.8458        S
877    male  19.0      0      0            349212    7.8958        S
879  female  56.0      0      1             11767   83.1583        C
880  female  25.0      0      1            230433   26.0000        S
881    male  33.0      0      0            349257    7.8958        S
882  female  22.0      0      0              7552   10.5167        S
883    male  28.0      0      0  C.A./SOTON 34068   10.5000        S
884    male  25.0      0      0   SOTON/OQ 392076    7.0500        S
885  female  39.0      0      5            382652   29.1250        Q
886    male  27.0      0      0            211536   13.0000        S
887  female  19.0      0      0            112053   30.0000        S
889    male  26.0      0      0            111369   30.0000        C
890    male  32.0      0      0            370376    7.7500        Q

[712 rows x 10 columns]

## Benchmark Model

In [11]:
regr = LinearRegression()
regr.fit(train_x,train_y)
#error_vals = mean_squared_error(y_test, regr.predict(X_test))**0.5
#print "The benchmark root mean squared error is %s" % error_vals

ValueError: could not convert string to float: Q